[Desktop Entry]
Type=Application
Name=Lumyn
GenericName=Media Player
Comment=A clean desktop media player
Exec=lumyn %U
Icon=lumyn
Terminal=false
StartupWMClass=Lumyn
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/x-matroska;video/webm;video/x-msvideo;video/quicktime;video/mpeg;video/x-flv;video/3gpp;video/x-ms-wmv;video/ogg;video/mp2t;video/divx;video/x-ogm+ogg;audio/mpeg;audio/flac;audio/ogg;audio/x-wav;audio/mp4;audio/x-m4a;audio/aac;audio/x-ms-wma;audio/opus;audio/x-matroska;
Keywords=video;audio;media;player;mpv;mkv;subtitles;
